<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <ros2_control name="my_bot_control" type="system">
        <hardware>
            <plugin>my_bot/HardwareInterface</plugin>
        </hardware>

        <joint name="left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>